-- cohort_step should be narrowed before measurement filter
meas_ok AS (
  SELECT c.stay_id
  FROM {{ measurements_table }} m
  JOIN {{ cohort_step_cte }} c ON m.{{ stay_id_col }} = c.stay_id
  WHERE m.{{ charttime_col }} BETWEEN c.outtime - INTERVAL '24' HOUR AND c.outtime
    AND m.{{ itemid_col }} IN ({{ injected_itemids }})
  GROUP BY c.stay_id
  HAVING {{ having_conditions }}
)
